<div class="container">
    <a routerLink="/add/" class="btn btn-warning">Add notes</a>
</div>

<div class="container">
    <div class="main" *ngFor="let i of array">
        <div class="title">
            "{{ i.title }}"
        </div>
        <div class="content">
            {{ i.content }}
        </div>
        <div class="btns">
            <a routerLink="/edit/{{i.id}}" class="btn btn-primary">Edit</a>
            <a (click)="removedata(i.id)" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
